<!DOCTYPE HTML>

<html>
  <head>
    <title>Employee Log in Page</title>
  </head>

  <body>
    <h1>Log In Thing</h1>
        <p>
          <label>Employee ID</label>
          <input type = "Employee ID"
                 id = "employeeID"
                 value = " " /></p>
        <p>
	   <label>Password
           <input type = "password"
                  id = "passWord"
                  value = "secret" />
        </p>
		<button type="button">Sign in</button>
  </body>
</html>