<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CSCE 3444 Project">
	<title>Kitchen</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<!-- Collapse Menu -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Custom icons for section cards -->
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<!-- Custom Javascript Functions -->
	<script src="{{ url_for('static', filename='javascript/jsFunctions.js') }}"></script>
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcZqMWdKuS0Us2Z_zhjF2qoD9Ll9KNG6YrEhHPFcMkYTrm7sJRr2gwNTaucmAimqI5ycSwyQwgVHcypf&currency=USD"></script>
	<!-- Rotating Card Function -->
	<link href=" {{ url_for('static', filename='css/rotating-card.css') }}" rel="stylesheet">
</head>

<body class="bg-light">

	<!-- Begin Headers -->
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			<div class="row">
				<div class="col-9"><a class="navbar-brand" href="javascript:void(0);">Kitchen Main Menu</a></div>
			</div>
			<div class="row">
				<div class="col-sm h-200 text-center text-lg-center my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#KCHN_Orders"><i class="fas fa-clipboard-list"></i> Manage Orders</a></li>
						<li class="list-inline-item"><a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#MGMT_Inventory"><i class="fas fa-warehouse"></i> Manage Inventory</a></li>
						<li class="list-inline-item"><button type="button" id="btn_callWaitstaff"  class="btn btn-primary"><i class="fas fa-phone"></i> Call Waitstaff</button></li>
						<li class="list-inline-item"><button type="button" id="btn_callManagement" class="btn btn-primary"><i class="fas fa-phone"></i> Call Management</button></li>
						<li class="list-inline-item"><a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="w-100"></div>
				<div class="col"><a id="time"></a></div>
				<div class="w-100"></div>
				<div class="col"><a id="date"></a></div>
			</div>
		</div>
	</nav>
	<!-- End Headers -->

	<!-- Begin ALERTS -->
	<section class="bg-light">
		<div id="KTCH_Alerts" class="position-absolute" style="margin-left: auto; margin-right: auto; left: 0; right: 0;">	<!-- This gets injected via Javascript -->
		</div>
	</section>
	<!-- End ALERTS -->

	<!-- Begin Main Section -->
	<section class="features-icons bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card-columns" id="orderNotifications"> <!-- Will be injected via Javascript -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Main Section -->


	<div id="KCHN_Orders" class="modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Order History</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" id="KTCH_OrderHistoryTable">
						<thead>
							<tr>
								<th>ID</th>
								<th>Items</th>
								<th>Date</th>
								<th>Functions</th>
							</tr>
						</thead>
						<tbody id="KTCH_OrderHistoryTable_Body">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="KCHN_Orders_btnSaveChanges" data-toggle="modal" data-target="#KCHN_Orders">Save and Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Begin INVENTORY PAGE -->
	<div id="MGMT_Inventory" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:1049">
		<div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Inventory</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-header">
					<input class="form-control" id="MGMT_Inventory_Search" type="text" placeholder="Search..">
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
							<th width="5px">Name</th>
							<th width="3px">Qty</th>
							<th>Edit</th>
							</tr>
						</thead>
						<tbody id="InventoryTable">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<a class="btn btn-primary" id="MGMT_Inventory_btnAddIngredient" data-toggle="modal" href="#MGMT_AddIngredient">Add Ingredient</a>
					<button type="button" class="btn btn-secondary" id="MGMT_Inventory_btnSaveChanges" data-toggle="modal" data-target="#MGMT_Inventory">Save and Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End INVENTORY PAGE -->

	<!-- Begin ADD INGREDIENTS PAGE -->
	<div id="MGMT_AddIngredient" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:1054">>
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Ingredient</h5>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form id="addIngredient">
							<div class="form-row">
								<div class="form-group">
									<input type="text" class="form-control" id="ingredientNameField" name="name" placeholder="Ingredient Name" value="" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="ingredientAllergenField" name="allergen" value="false">
								  <label class="form-check-label" for="ingredientAllergenField">
									Allergen?
								  </label>
								</div>
							</div>
						</form>
					</div>
				</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="MGMT_AddIngredient_btnSaveChanges" data-toggle="modal" data-target="#MGMT_AddIngredient">Create</button>
                    <button class="btn btn-danger active" data-toggle="modal" data-target="#MGMT_AddIngredient">Exit without Saving</button>
                </div>
			</div>
		</div>
	</div>
	<!-- End ADD INGREDIENTS PAGE -->

	<!-- Begin EDIT INGREDIENTS PAGE -->
	<div id="MGMT_EditIngredient" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index:1054">>
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modify Ingredient Information</h5>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form id="editIngredientForm">
							<input type="hidden" id="ingID" name="uid">
							<div class="form-row">
								<div class="form-group">
									<input type="text" class="form-control" id="ingredientNameField" name="name" placeholder="Ingredient Name" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="ingredientAllergenField" name="allergen" required>
								  <label class="form-check-label" for="ingredientAllergenField">
									Allergen?
								  </label>
								</div>
							</div>
						</form>
					</div>
				</div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="MGMT_EditIngredient_btnSaveChanges" data-toggle="modal" data-target="#MGMT_EditIngredient">Save Changes</button>
                    <button class="btn btn-danger active" data-toggle="modal" data-target="#MGMT_EditIngredient">Exit without Saving</button>
                </div>
			</div>
		</div>
	</div>
	<!-- End EDIT INGREDIENTS Page -->

	<div id="Logout" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Logout</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col">
								<p class="text-center">Are you sure you want to log out?</p>
							</div>
						</div>
					</div>
				</div>
                <div class="modal-footer">
					<a href="" data-dismiss="modal" onclick=recordOut();><button class="btn btn-lg btn-danger mr-auto text-uppercase" data-dismiss="modal">Yes</button> </a>
						<button class="btn btn-lg btn-primary text-uppercase" data-dismiss="modal">No</button>
</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='bootstrap/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<!-- Loaded Lastly for performance reasons -->
	<script src="{{ url_for('static', filename='javascript/kitchen.js') }}"></script>
	<script src="{{ url_for('static', filename='javascript/management.js') }}"></script>
</body>
</html>
