<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CSCE 3444 Project"/>
	<title>Table Map</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<!-- Collapse Menu -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Custom icons for section cards -->
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='javascript/kitchen.js') }}" type="type/javascript"></script>
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcZqMWdKuS0Us2Z_zhjF2qoD9Ll9KNG6YrEhHPFcMkYTrm7sJRr2gwNTaucmAimqI5ycSwyQwgVHcypf&currency=USD"></script>
	<!-- Rotating Card Function -->
	<link href=" {{ url_for('static', filename='css/rotating-card.css') }}" rel="stylesheet">
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='bootstrap/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</head>
<body>

  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <div class="row">
        <div class="col-9"><a class="navbar-brand" href="javascript:void(0);">Table Map</a></div>
      </div>
      <div class="row">
        <div class="w-100"></div>
        <div class="col"><a id="time"></a></div>
        <div class="w-100"></div>
        <div class="col"><a id="date"></a></div>
      </div>
    </div>
  </nav>

<!--- logout and back button -->
	<section class="features-icons bg-light text-center">

			<div class="col-sm h-75 text-center text-lg-center my-auto">

					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location='management'"><i class="fas fa-reply"></i> Back To Management</a></li>
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#Logout"><i class="fas fa-gift"></i> Logout</a></li>
			</div>
			<div class="col-sm h-75 text-center text-lg-center my-auto">

					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#KCHN_Orders"><i class="fas fa-utensils"></i> Table Orders</a></li>

			</div>


	</section>


	<div id="Logout" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Logout</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col">
								<p class="text-center">Are you sure you want to log out?</p>
							</div>
						</div>
					</div>
				</div>
                <div class="modal-footer">
					<button class="btn btn-lg btn-danger mr-auto text-uppercase" data-dismiss="modal" id="signOut" onclick="javascript:window.location='/'">Yes</button>
					<button class="btn btn-lg btn-primary text-uppercase" data-dismiss="modal">No</button>
                </div>
			</div>
		</div>
	</div>


	<div id="KCHN_Orders" class="modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Order History</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" id="KTCH_OrderHistoryTable">
						<thead>
							<tr>
								<th>ID</th>
								<th>Items</th>
								<th>Date</th>
								<th>Functions</th>
							</tr>
						</thead>
						<tbody id="KTCH_OrderHistoryTable_Body">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="KCHN_Orders_btnSaveChanges" data-toggle="modal" data-target="#KCHN_Orders">Save and Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Here because javascript suxs -->

	<script src="{{ url_for('static', filename='javascript/management.js') }}"></script>

	<!-- Include table js -->
	<script src="{{ url_for('static', filename='javascript/table.js') }}"></script>
	<!-- Include menu js -->
	<script src="{{ url_for('static', filename='javascript/menu.js') }}"></script>
	<!-- Custom Javascript Functions -->
	<script src="{{ url_for('static', filename='javascript/jsFunctions.js') }}" type="type/javascript"></script>
	<script src="{{ url_for('static', filename='javascript/TableMap.js') }}" type="type/javascript"></script>

</body>

</html>

<script>
function RequestTableOrder(){

  var request = new XMLHttpRequest();
  request.open('GET', '/api/tables');

  //get number of tables

	//Check for OK or CREATED status

request.onload = function(){

	if (request.status === 200 || request.status === 201 || request.status === 204)
	{

			console.log("yo")
			CountTables(JSON.parse(request.responseText)) // Look through our tables

	}
	else
	{
			console.log("error")
			//TODO: Create alert in HTML instead of using this to specify error
			var error = JSON.parse(request.responseText)
			console.log(error.message)

			alert(`Error ${request.status}: ${error.message}`);
	}
};


}

function CountTables(data) {

    var found = false;
		console.log("data.length is")
		console.log(data.length)
    for(i = 0; i < data.length; i++) // iterate through table list
    {
        if(data[i].number == table.number) // if we find an entry corresponding to our cookie
        {
            table.needs_help = data[i].needs_help; // set our local table object equal to the database object
			table.needs_refill = data[i].needs_refill;

			id = data[i]._id.$oid;

			for(j = 0; j < data[i].orders.length; j++) // step through orders
			{

				var order = data[i].orders[j].order.$oid;
				var orderID = {order};
				table.orders.push(orderID);
			}

            found = true;
            break;
        }
    }
}
$('#TableOrder').on('shown.bs.modal', function(event)
{

  RequestTableOrder();
})
</script>
