<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CSCE 3444 Project"/>
	<title>Table Map</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
	<!-- Collapse Menu -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Custom icons for section cards -->
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<!-- Custom Javascript Functions -->
	<script src="{{ url_for('static', filename='javascript/jsFunctions.js') }}" type="type/javascript"></script>
	<script src="{{ url_for('static', filename='javascript/TableMap.js') }}" type="type/javascript"></script>
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcZqMWdKuS0Us2Z_zhjF2qoD9Ll9KNG6YrEhHPFcMkYTrm7sJRr2gwNTaucmAimqI5ycSwyQwgVHcypf&currency=USD"></script>
	<!-- Rotating Card Function -->
	<link href=" {{ url_for('static', filename='css/rotating-card.css') }}" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <div class="row">
        <div class="col-9"><a class="navbar-brand" href="javascript:void(0);">Table Map</a></div>
      </div>
      <div class="row">
        <div class="w-100"></div>
        <div class="col"><a id="time"></a></div>
        <div class="w-100"></div>
        <div class="col"><a id="date"></a></div>
      </div>
    </div>
  </nav>

<!--- logout and back button -->
	<section class="features-icons bg-light text-center">

			<div class="col-sm h-75 text-center text-lg-center my-auto">

					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location='index.html'"><i class="fas fa-reply"></i> Back To Management</a></li>
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#Logout"><i class="fas fa-gift"></i> Logout</a></li>
			</div>
			<div class="col-sm h-75 text-center text-lg-center my-auto">

					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-dismiss="modal" onclick="javascript:window.location='index.html'"><i class="fas fa-utensils"></i> Table 01</a></li>
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#Logout"><i class="fas fa-utensils"></i> Logout</a></li>
			</div>

	
	</section>






<!-- Draggable Table Map -->



</body>

</html>
