<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping list example</title>
    <style>
      li {
        margin-bottom: 10px;
      }

      li button {
        font-size: 16px;
        margin-left: 20px;
        color: #666;
      }
    </style>
	
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
  </head>
  <body>

    <h1>Your Order</h1>

    <div name="item" id="item">
	  <label for="item">Enter a new item:</label>
      <input type="text" name="item" id="item">
      <button>Add item</button>
    </div>

    <ul>
	<!-- Order Items Go Here -->
    </ul>

    <script>
      const list = document.querySelector('ul');
      const input = document.querySelector('input');
      const order = document.querySelector('button');

      order.onclick = function() {
        let myItem = input.value;
        input.value = '';
		
		const listBtn = document.createElement('button');
        const listItem = document.createElement('li');
        const listText = document.createElement('span');
        
        listItem.appendChild(listBtn);
		listItem.appendChild(listText);
        listText.textContent = myItem;
		listBtn.className = 'fa fa-trash';
        list.appendChild(listItem);

		// Delete Item
        listBtn.onclick = function(e) {
          list.removeChild(listItem);
        }

        input.focus();
      }
    </script>
  </body>
</html>