<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CSCE 3444 Project">
	<title>Waitstaff</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Collapse Menu -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Custom icons for section cards -->
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<!-- Custom Javascript Functions -->
	<script src="{{ url_for('static', filename='javascript/jsFunctions.js') }}"></script>
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcZqMWdKuS0Us2Z_zhjF2qoD9Ll9KNG6YrEhHPFcMkYTrm7sJRr2gwNTaucmAimqI5ycSwyQwgVHcypf&currency=USD"></script>
	<!-- Rotating Card Function -->
	<link href=" {{ url_for('static', filename='css/rotating-card.css') }}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			<div class="row">		
				<div class="col-9"><a class="navbar-brand" href="javascript:void(0);">Waitstaff Main Menu</a></div>
			</div>
			<div class="row">
				<div class="col-sm h-200 text-center text-lg-center my-auto">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a type="button" class="btn btn-primary text-white" data-toggle="modal" data-target="#Logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="w-100"></div>
				<div class="col"><a id="time"></a></div>
				<div class="w-100"></div>
				<div class="col"><a id="date"></a></div>
			</div>
		</div>
	</nav>
	
	<!-- Begin ALERTS -->
	<section class="bg-light">
		<div id="WTSF_Alerts" class="position-absolute" style="margin-left: auto; margin-right: auto; left: 0; right: 0;">	<!-- This gets injected via Javascript -->
		</div>
	</section>	
	<!-- End ALERTS -->

	<!-- Begin Main Section -->		
	<section class="features-icons bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card-columns" id="WTSF_orderNotifications"> <!-- Will be injected via Javascript -->
						<div id="WTSF_orderNotifications_reverse"></div>
					</div>
				</div>
				</div class="col">
				</div>
			</div>
		</div>
	</section>
	<!-- End Main Section -->	

	<div id="Logout" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Logout</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col">
								<p class="text-center">Are you sure you want to log out?</p>
							</div>
						</div>
					</div>
				</div>
                <div class="modal-footer">
					<button class="btn btn-lg btn-danger mr-auto text-uppercase" data-dismiss="modal" id="signOut" onclick="javascript:window.location='/'">Yes</button>
					<button class="btn btn-lg btn-primary text-uppercase" data-dismiss="modal">No</button>
                </div>
			</div>
		</div>
	</div>
	
		<!-- Bootstrap core JavaScript -->
		<script src="{{ url_for('static', filename='bootstrap/jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/bootstrap/js/bootstrap.bundle.min.js') }}"></script>	
		<script src="{{ url_for('static', filename='javascript/kitchen.js') }}"></script>		
		<script src="{{ url_for('static', filename='javascript/waitstaff.js') }}"></script>		
</body>	
</html>