<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="CSCE 3444 Project">
	<title>Management</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='bootstrap/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Collapse Menu -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Custom icons for section cards -->
	<script src="https://kit.fontawesome.com/acaa606056.js"></script>
	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	<!-- Custom Javascript Functions -->
	<script src="{{ url_for('static', filename='javascript/jsFunctions.js') }}"></script>
	<!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AcZqMWdKuS0Us2Z_zhjF2qoD9Ll9KNG6YrEhHPFcMkYTrm7sJRr2gwNTaucmAimqI5ycSwyQwgVHcypf&currency=USD"></script>
	<!-- Rotating Card Function -->
	<link href=" {{ url_for('static', filename='css/rotating-card.css') }}" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-light bg-light static-top">
		<div class="container">
			<div class="row">		
				<div class="col-9"><a class="navbar-brand" href="javascript:void(0);">Waitstaff Main Menu</a></div>
			</div>
			<div class="row">
				<div class="w-100"></div>
				<div class="col"><a id="time"></a></div>
				<div class="w-100"></div>
				<div class="col"><a id="date"></a></div>
			</div>
		</div>
	</nav>

	<section class="features-icons bg-light text-center">
			<div class="col-sm h-100 text-center text-lg-center my-auto">
				<ul class="list-inline mb-0">
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#MGMT_Employees"><i class="fas fa-address-book"></i> Clock In</a></li>
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#MGMT_Employees"><i class="fas fa-address-book"></i> Clock Out</a></li>
					<li class="list-inline-item"><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#Logout"><i class="fas fa-gift"></i> Logout</a></li>
				</ul>
			</div>
	</section>

	<div id="MGMT_Reports" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">TEMP MENU</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="First name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="Last name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Apartment, studio, or floor">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
									<select class="form-control">
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="text" class="form-control" placeholder="Zip Code" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
								  <input id="telNo" type="tel" class="form-control" placeholder="(XXX)XXX-XXXX" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="email" class="form-control"  placeholder="student@my.unt.edu" minlength="6" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								  <label class="form-check-label" for="invalidCheck">
									Agree to terms and conditions
								  </label>
								  <div class="invalid-feedback">
									You must agree before submitting.
								  </div>
								</div>
							</div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="MGMT_Employees" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">TEMP MENU</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="First name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="Last name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Apartment, studio, or floor">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
									<select class="form-control">
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="text" class="form-control" placeholder="Zip Code" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
								  <input id="telNo" type="tel" class="form-control" placeholder="(XXX)XXX-XXXX" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="email" class="form-control"  placeholder="student@my.unt.edu" minlength="6" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								  <label class="form-check-label" for="invalidCheck">
									Agree to terms and conditions
								  </label>
								  <div class="invalid-feedback">
									You must agree before submitting.
								  </div>
								</div>
							</div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>	

	<div id="MGMT_Menu" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">TEMP MENU</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="First name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="Last name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Apartment, studio, or floor">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
									<select class="form-control">
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="text" class="form-control" placeholder="Zip Code" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
								  <input id="telNo" type="tel" class="form-control" placeholder="(XXX)XXX-XXXX" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="email" class="form-control"  placeholder="student@my.unt.edu" minlength="6" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								  <label class="form-check-label" for="invalidCheck">
									Agree to terms and conditions
								  </label>
								  <div class="invalid-feedback">
									You must agree before submitting.
								  </div>
								</div>
							</div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="MGMT_Kitchen" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">TEMP MENU</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="First name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="Last name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Apartment, studio, or floor">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
									<select class="form-control">
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="text" class="form-control" placeholder="Zip Code" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
								  <input id="telNo" type="tel" class="form-control" placeholder="(XXX)XXX-XXXX" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="email" class="form-control"  placeholder="student@my.unt.edu" minlength="6" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								  <label class="form-check-label" for="invalidCheck">
									Agree to terms and conditions
								  </label>
								  <div class="invalid-feedback">
									You must agree before submitting.
								  </div>
								</div>
							</div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="MGMT_Tables" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">TEMP MENU</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="Acontainer">
						<form>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="First name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="Last name" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Address">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<input type="text" class="form-control" placeholder="Apartment, studio, or floor">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
								  <input type="text" class="form-control" placeholder="City">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
									<select class="form-control">
										<option value="AL">Alabama</option>
										<option value="AK">Alaska</option>
										<option value="AZ">Arizona</option>
										<option value="AR">Arkansas</option>
										<option value="CA">California</option>
										<option value="CO">Colorado</option>
										<option value="CT">Connecticut</option>
										<option value="DE">Delaware</option>
										<option value="DC">District Of Columbia</option>
										<option value="FL">Florida</option>
										<option value="GA">Georgia</option>
										<option value="HI">Hawaii</option>
										<option value="ID">Idaho</option>
										<option value="IL">Illinois</option>
										<option value="IN">Indiana</option>
										<option value="IA">Iowa</option>
										<option value="KS">Kansas</option>
										<option value="KY">Kentucky</option>
										<option value="LA">Louisiana</option>
										<option value="ME">Maine</option>
										<option value="MD">Maryland</option>
										<option value="MA">Massachusetts</option>
										<option value="MI">Michigan</option>
										<option value="MN">Minnesota</option>
										<option value="MS">Mississippi</option>
										<option value="MO">Missouri</option>
										<option value="MT">Montana</option>
										<option value="NE">Nebraska</option>
										<option value="NV">Nevada</option>
										<option value="NH">New Hampshire</option>
										<option value="NJ">New Jersey</option>
										<option value="NM">New Mexico</option>
										<option value="NY">New York</option>
										<option value="NC">North Carolina</option>
										<option value="ND">North Dakota</option>
										<option value="OH">Ohio</option>
										<option value="OK">Oklahoma</option>
										<option value="OR">Oregon</option>
										<option value="PA">Pennsylvania</option>
										<option value="RI">Rhode Island</option>
										<option value="SC">South Carolina</option>
										<option value="SD">South Dakota</option>
										<option value="TN">Tennessee</option>
										<option value="TX">Texas</option>
										<option value="UT">Utah</option>
										<option value="VT">Vermont</option>
										<option value="VA">Virginia</option>
										<option value="WA">Washington</option>
										<option value="WV">West Virginia</option>
										<option value="WI">Wisconsin</option>
										<option value="WY">Wyoming</option>
									</select>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="text" class="form-control" placeholder="Zip Code" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4 mb-3">
								  <input id="telNo" type="tel" class="form-control" placeholder="(XXX)XXX-XXXX" pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-2">
								  <input type="email" class="form-control"  placeholder="student@my.unt.edu" minlength="6" required>
								</div>
							</div>
							<div class="form-group">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								  <label class="form-check-label" for="invalidCheck">
									Agree to terms and conditions
								  </label>
								  <div class="invalid-feedback">
									You must agree before submitting.
								  </div>
								</div>
							</div>
						  <button class="btn btn-primary" type="submit">Submit form</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Logout" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Logout</h5><button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col">
								<p class="text-center">Are you sure you want to log out?</p>
							</div>
						</div>
					</div>
				</div>
                <div class="modal-footer">
					<button class="btn btn-lg btn-danger mr-auto text-uppercase" data-dismiss="modal" onclick="javascript:window.location='/'">Yes</button>
					<button class="btn btn-lg btn-primary text-uppercase" data-dismiss="modal">No</button>
                </div>
			</div>
		</div>
	</div>
	
		<!-- Bootstrap core JavaScript -->
		<script src="{{ url_for('static', filename='bootstrap/jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/bootstrap/js/bootstrap.bundle.min.js') }}"></script>	
</body>	
</html>